body {
  margin-left: 25%;
  margin-right: 25%;
}

.main-wrapper {
  padding: 16px;
}
.header {
  display: flex;
}
.line {
  background-color: black;
  color: white;
  padding: 16px;
  width: 70%;
  text-align: center;
}
.img-one {
  width: 10px;
}
a {
  color: white;
}
img {
  background-color: white;
}
.contact {
  display: flex;
  justify-content: space-evenly;
}

.email {
  display: grid;
  grid-template-rows: table-row;
  grid-template-columns: repeat(2, 1fr);
}
/* p img .email {
  width: 20px;
  padding: 16px;
} */
/* p img .mail {
  width: 20px;
  gap: 4px;
} */
.phone {
  display: flex;
  padding: 16px;
}
.navbar {
  padding: 16px;
  display: flex;
  text-align: center;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 16px;
}
.active {
  background-color: #f9b32d;
}
.moving {
  position: relative;
}
.moving img {
  display: block;
  width: 100%;
  height: auto;
}
.family {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
h5 {
  font-size: 30px;
  color: white;
}
.family span {
  font-size: 50px;
  color: white;
}
.btn-move {
  background-color: #f9b32d;
  color: white;
  width: 150px;
  border: none;
  border-radius: 15px;
}
/* .sidebar {
  position: relative;
  bottom: 15%;
} */
.box-1 {
  width: 100%;
}
.box-2 {
  width: 50%;
  padding: 16px 16px;
  height: 50%;
}
.sidebar {
  display: flex;
  padding: 16px;
}
.describe-riaad {
  color: black;
}
a .riaad {
  color: black;
}
.year {
  font-size: 30px;
  color: black;
  padding-top: 8px;
}
.lorem {
  padding: 0px 16px;
}
.brand {
  display: flex;
  margin-top: -6%;
}
.img-brand {
  width: 180px;
  padding: 16px;
}
.do {
  padding: 16px;
}
.services {
  display: flex;
}
.service-img {
  width: 30%;
  text-align: center;
}
h6 {
  font-size: 25px;
}
.banner-content {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}
.background-img {
  width: 350px;
  position: relative;
}
.video {
  display: flex;
}
.video-img {
  width: 100px;
  position: absolute;
}
.choice {
  display: flex;
  gap: 10px;
}
.choice-img {
  width: 350px;

  border-right: 50px solid #507bc0;
  border-bottom: 70px solid #507bc0;
}
.request-img {
  display: block;
  width: 100%;
  height: auto;
}
.testimonial {
  justify-content: space-evenly;
  display: flex;
  /* gap: 10px; */
  padding: 16px;
}
.face {
  width: 40px;
  border-radius: 50%;
}
img .article-img {
  width: 150px;
}
img .icon {
  width: 30px;
  gap: 10px;
}
.socials {
  display: flex;
  flex-direction: row;
}
.footer-2 {
  display: flex;
  width: 100%;
}
.help {
  display: flex;
  gap: 10px;
}
.lists {
  display: flex;
  flex-direction: column;
}
.check-img {
  width: 25px;
}
.verified {
  background-color: white;
  color: black;
  font-size: 15px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  padding: 10px 20px;
  font-size: 20px;
}
.any {
  font-size: 15px;
  position: absolute;
}
img .choice-img {
  position: relative;
}
a .yellow {
  color: #f9b32d;
}
.directions {
  width: 18px;
}
a .book-online {
  color: #f9b32d;
}
.footer-1 {
  background-color: #f9b32d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  justify-content: space-between;
}
button {
  background-color: black;
  color: #fff;
  width: 80px;
  border: none;
}
.footer2 {
  background-color: #2d2c2a;
  display: flex;
  color: #fff;
  height: 300px;
}
.contacts {
  display: grid;
}
li {
  list-style-type: none;
}
a .vlog {
  color: #f9b32d;
}
.articles {
  display: flex;
  position: relative;
}
/* .article-img {
  position: relative;
}
.admin,
.boomer {
  position: absolute;
} */
.quote {
  background-color: #f9b32d;
  height: auto;
}
.request {
  display: flex;
}
.fill {
  background-color: #507bc0;
  width: 100%;
}
.fill-in {
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
}
